* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #4d4d4d;
  background-color: #f5f5f5;
  /* background-color: #329e11; */
}

/* LAYOUT */
header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.top-section {
  border-bottom: 7px solid #4d4d4d;
  padding-top: 3rem;
}

.bottom-section {
  padding-bottom: 5rem;
}

.form {
  text-align: center;
}


/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
}

.between {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.scoreboard {
  font-size: 3rem;
}

.message {
  font-size: 2rem;
  
}

.number-centerer {
  width: 15rem;
  height: 15rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.number-container {
  width: 100%;
  height: 100%;
}

.flipper-side {
  width: 15rem;
  height: 15rem;
  background: #f5f5f5;
  border-radius: 50%;
  border: 7px solid #4d4d4d;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s ease-in-out;
}

.back {
  background: #07a54c;
  color: #ffffff;
}

.guess {
  background: none;
  border: 4px solid #4d4d4d;
  color: inherit;
  font-size: 5rem;
  padding: 2rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  transition: width 2s ease-in-out;
}

.btn {
  border: none;
  background-color: #ffffff;
  color: #4d4d4d;
  border: 4px solid #4d4d4d;
  font-size: 2rem;
  font-family: inherit;
  line-height: 1rem;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #dbd9d9;
}

/* ANIMATIONS */
.error-animation {
  background-color: #ce0f0f;
  color: #ffffff;
  animation: kf_shake 0.4s 1 linear;
}
@keyframes kf_shake {
  0% { transform: translate(30px); }
  20% { transform: translate(-30px); }
  40% { transform: translate(15px); }
  60% { transform: translate(-15px); }
  80% { transform: translate(8px); }
  100% { transform: translate(0px); }
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flipper.reveal {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
